%h1= @wow.title
%p= @wow.description
%p
Submited by
= @wow.user.email

%br/

= link_to "Back", root_path
= link_to "Edit", edit_wow_path
= link_to "Delete", wow_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"